/bower-components
.DS_Store
figwheel_server.log
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.repl
.nrepl-port
.sass-cache/
node_modules/

# User-specific stuff:
.idea/tasks.xml
.idea/dictionaries

.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
bower_components
*~
.#*
~*
.idea/inspectionProfiles/
tmp/
resources/public/faq*
resources/public/home*
resources/public/index*
resources/public/intro*
.lein-git-deps/
#project.clj#
.idea/
predict3.iml
src/cards/#side_panel.cljs#
wireframes/Rectangle 2.png
wireframes/Treatments.png
wireframes/artboards/
wireframes/export/
wireframes/wire2.xd
wireframes/wire3.xd

resources/public/js/
!/resources/public/js/react-numeric-input.min.js
!/resources/public/js/predict2-model.js
!/resources/public/index.html
/yarn-error.log
