
;; Shadow build ALWAYS loads the production sources.
;; It then either loads predict-prostate.core/main for production or predict-prostate.core/edit-main for translation edits
;; depending on which build is launched and connected.

{:source-paths ["src" "test"]

 :dependencies
 [[rum "0.11.3"]                            ;[rum "0.11.3"]
  [tongue "0.2.7"]
  [pubsub "0.2.1"]
  [cljsjs/jquery "1.9.1-0"]    ; FIXME
  [cljsjs/bootstrap "3.3.6-0"] ; FIXME
  [cljs-ajax             "0.8.3"]
  [winton-utils          "0.2.1"]
  [cljs-css-modules      "0.2.1"]
  [binaryage/devtools    "1.0.3"]
  [cider/cider-nrepl "0.21.0"]
  [funcool/bide "1.7.0"]
  [funcool/promesa "3.0.0"] ; FIXME
  [etaoin "0.3.3"]
  [binaryage/oops "0.7.0"]]

 :dev-http
 {4000 "resources/public"}

 :builds
 {:app {:target     :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :devtools {:repl-init-ns predict-prostate.core
                   :repl-pprint true}
        :compiler-options {;:optimizations  :advanced
                           :output-wrapper false
                           ;:rewrite-polyfills true 
                           ;output-feature-set :es5
                           }
        :modules {:app {:init-fn predict-prostate.core/main}}}
  
  #_#_:editor {:target     :browser
           :output-dir "resources/public/js"
           :asset-path "/js"
           :compiler-options {;:optimizations  :advanced
                              :output-wrapper false
                           ;:rewrite-polyfills true 
                           ;output-feature-set :es5
                              }
           :modules {:editor {:init-fn predict3.shadow/edit-main}}}

  :test-browser {:target     :browser-test
                 :test-dir   "out/browser/test"
                 :devtools   {:http-port 4021
                              :http-root "out/browser/test"}}}}
